.places {
    width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 12px 0 92px 0;
}

@media screen and (max-width: 1279px) {
    .places {
        width: calc(100% - 2*48px);
        max-width: 984px;
    }
}

@media screen and (max-width: 1023px) {
    .places {
        width: calc(100% - 2*24px);
        max-width: 928px;
        padding-top: 15px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding-top: 14px;
        padding-bottom: calc((100vw - 320px)/(767 - 320)*(90 - 66) + 66px);
   }
}