.cover__subtitle {
    max-width: 360px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
    margin: 32px 0 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: calc(100% - 2*16px);
        font-size: calc((100vw - 320px)/(767 - 320)*(18 - 14) + 14px);
        line-height: calc((100vw - 320px)/(767 - 320)*(22 - 16) + 16px);
        margin-top: calc((100vw - 320px)/(767 - 320)*(32 - 16) + 16px);
    }
}

@media screen and (max-width: 319px) {
    .cover__subtitle {
        width: calc(100% - 2*16px);
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}