.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1023px) {
    .header {
        padding-left: calc((100vw - 768px)/(1023 - 768)*(48 - 24) + 24px);
        padding-right: calc((100vw - 768px)/(1023 - 768)*(48 - 24) + 24px);
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: calc((100vw - 320px)/(767 - 320)*(24 - 16) + 16px);
        padding-right: calc((100vw - 320px)/(767 - 320)*(24 - 16) + 16px);
    }
}

@media screen and (max-width: 319px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
    }
}