.place__paragraphs {
    grid-area: paragraphs;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraphs {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 751px) {
    .place__paragraphs {
      margin-left: calc(0px + (751px - 100vw)/(751 - 720)*(16 - 0));
      margin-right: calc(0px + (751px - 100vw)/(751 - 720)*(16 - 0));
    }
}

@media screen and (max-width: 719px) {
    .place__paragraphs {
      margin-left: 16px;
      margin-right: 16px;
    }
}