.cover__title-text {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .cover__title-text {
        font-size: calc((100vw - 320px)/(767 - 320)*(72 - 32) + 32px);
        line-height: calc((100vw - 320px)/(767 - 320)*(76 - 35) + 35px);
        padding-left: calc(10px + (767px - 100vw)/(767 - 320)*(25 - 10));
        padding-right: calc(10px + (767px - 100vw)/(767 - 320)*(25 - 10));
    }
}

@media screen and (max-width: 319px) {
    .cover__title-text {
        font-size: 32px;
        line-height: 35px;
        padding-left: 25px;
        padding-right: 25px;
    }
}