.intro {
    width: 690px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 92px;
    padding-left: calc((100vw - 984px)/2);
    /*984 - ширина блока lead, ровняем относительно lead__caption*/
}

@media screen and (max-width: 1080px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(690px + (1023px - 100vw)/(1023 - 767)*(720 - 690));
        max-width: 720px;
        padding-top: calc((100vw - 768px)/(1023 - 768)*(92 - 88) + 88px);
        padding-left: calc((100vw - 976px)/(1023 - 976)*(48 - 24) + 24px);
    }
}

@media screen and (max-width: 976px) {
    .intro {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(288px + (100vw - 320px)/(767 - 320)*(720 - 288));
        max-width: 720px;
        padding-top: calc((100vw - 320px)/(767 - 320)*(88 - 64) + 64px);
        padding-left: calc((100vw - 320px)/(767 - 320)*(24 - 16) + 16px);
    }
}