.cover__title {
    width: 100%;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: calc((100vw - 320px)/(767 - 320)*(530 - 288) + 288px);
        max-width: 530px;
        min-width: 288px;
    }
}