.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-left: calc((100vw - 768px)/(1023 - 768)*(48 - 24) + 24px);
        padding-right: calc((100vw - 768px)/(1023 - 768)*(48 - 24) + 24px);
        padding-top: calc((100vw - 768px)/(1023 - 768)*(92 - 88) + 88px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 0;
        padding: 64px 0 0 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}