.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAAAAA;
    padding: 0;
    margin: 0 0 12px;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        line-height: 1;
    }
}